<mat-card class="signals-card mat-elevation-z0">
    <mat-card-header>
        <mat-card-title>Trading signals</mat-card-title>
        <mat-card-subtitle>Sentiment is {{ overviewSignal }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-evenly stretch">
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        In/out of the money is {{ inOutVar }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>This momentum signal calculates the net change of in/out of the money addresses, if the number of "In the Money"
                addresses is increasing this would be a bullish signal. In the money means addresses that would make a profit on the
                tokens they hold because they acquired the tokens at a lower price.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Large transactions is {{ largetxsVar }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Momentum signal that is bullish when the short term trend of the number of txs > $100k is greater than the long term
                average.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Addresses Net Growth is {{ addressesNetGrowth }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>Momentum signal that gives an indication of the tokens underlying network health by measuring the amount of new
                addresses minus the addresses that have their balances emptied. It is bullish when more addresses are being created than
                emptied.</p>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Concentration is {{ concentrationVar }}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>The Concentration signal is based on the accumulation (bullish) or reduction (bearish) of addresses with more than 0.1%
                of the circulating supply.</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card-content>
</mat-card>