<mat-chip fxFlex="grow">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="quote-row" fxFlex>
        <div fxFlex="10">
            <span class="coin-symbol">{{ symbol }}</span>
        </div>
        <mat-chip-list cdkDropListOrientation="horizontal" class="quote-row-price-list" fxFlex="90">
            <div *ngFor="let quote of quotes | keyvalue">
                <app-quote-price [symbol]="quote.key" [price]="quote.value.price" [direction]="quote.value.direction">
                </app-quote-price>
            </div>
        </mat-chip-list>
    </div>
</mat-chip>